**/__pycache__/*
**/__pycache__
**/dataset/*
./dataset/*
*.pyc
*.pyo
*.pyd
**/data/*
./data/*
./results/*
**/results/*
**/results/*
**/input/*
**/output/*
*.pkl
mynote.md
./dataset_generator/data/*
**/env.sh
**/logs/*
**/log/*